.navbar {
    background-color: #233D4D; /* Semi-transparent background */
    backdrop-filter: blur(10px);
    padding: 10px 20px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ccc;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-toggler {
    border: none;
    outline: none;
}

@media (max-width: 768px) {
    .navbar {
        margin: 0;
        border-radius: 0;
    }
}
